<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
          {% comment %} Select navigation data based on page setting or URL path {% endcomment %}
          {% if page.navigation_data %}
            {% assign nav_data = site.data[page.navigation_data] %}
          {% elsif page.url contains '/zh' or page.permalink contains '/zh' %}
            {% assign nav_data = site.data.navigation_zh %}
          {% else %}
            {% assign nav_data = site.data.navigation %}
          {% endif %}
          {% for link in nav_data.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>